# Compiled Binary files
*.rbf
*.sof
*.pof

# Compiled Object files
*.slo
*.lo
*.o
*.rpt
*.summary
*.smsg
.sopc_builder/
.qsys_edit/
db/
incremental_db/
output/
greybox_tmp/
.DS_Store


# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Trash
*.*~
*.bak
*.lst
*.txt
*.html
*.dep
